.orcamento{
    background: #fff !important;
}

.orcamento h1{
    text-align: left;
    text-transform: uppercase;
    font-size: 18px;
    color: #fec63e;
}

.orcDados span {
    color: #fec63e !important;
}
.orcDados p,  span{
    color: #000 !important;
}

.label-float input, textarea{
background: #fff !important;
}



.imgContato{
    width: 100%;
    height: 200px;
    object-position: center;
    object-fit: cover;
    background-position-x: 27%;
    background-position-y: 53%;
    background-size: 105%;
    background-repeat: no-repeat;
}

.txtImg{
    position: absolute;
    margin-top: 4%;
}

.txtImg h1{
    text-align: center;
font-size: 36px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
color: #fff;
text-transform: uppercase;
}

.txtImg hr{
    width: 6%;
    border: 2px solid #fff;
}

.p{
    color: #fff;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
}

.iconecontato{
    border: 4px solid #fec63e;
    padding: 10px;
    margin: 2px;
    width: 10%;
}

@media only screen and (max-width: 750px) {
   
    .txtImg{
        position: absolute;
        margin-top: 10%;
    }

    
.txtImg hr{
    width: 10%;
    border: 2px solid #fff;
}

}