body{
    background-color:#fff;
}


#header{
    background-color: #fec63e;
    display: flex;
    padding: 9px 10%;
    position: initial;
}

.imgNav{
    width: 80px;
}

.imgBtn{
    width: 30px;
    height: 30px;
}

.imgBtn:hover{
    transform: scale(1.1);
    transition: 0.5s
}

#list-menu a {
    color: #000000;
    
}

ul#list-menu  {
    display: flex;
}

#list-menu li{
    display:inline-block;
    font-size: 14px;
    font-weight: bold;
    padding: 0px 10px ;
    text-transform: uppercase;
    flex-direction: column;
}

#list-menu li:hover{
    transform: scale(1.1);
    transition: 0.5s
}

.div-list{
    width: 100%;
}

.btnMenu{
    width: 30px;
    height: 30px;
    display: none;
}

.ConMenu{
    padding: 0px 0px 0px 0px;
    width: auto;
}

.imgMenu{
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
    
}

.TxtImg{
    position: absolute;
    text-align: center;
    flex-direction: column;
    color: #fff;
    margin-top: 13%;
}

.TxtImg h1 {
    font-size: 48px;
    font-weight: bold;    
    font-family: 'arial';
    text-transform: uppercase;
}

.TxtImg hr{
    border: 2px solid #fff;
    width: 6%;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #fff;
}

.TxtImg span{
    font-family: Georgia;
    font-style: italic;
}

.btnImg{
    text-transform: uppercase;
    background-color: transparent;
    color: #fec63e;
    font-weight: bold;
    border: 4px solid #fec63e;
    margin-top: 10px;
}

.btnImg:hover{
    background-color: #fec63e;
    transform: scale(1.1);
    transition: 0.5s;
    color: #000;
}

.produtos{
    padding: 4% 9% 4% 9%;
    width: 100%;
    height: auto;
}

.produtos h1{
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    font-size:24px ;
    font-family: Arial;
    font-weight: bold;
    
}

.produtos hr{
    border: 2px solid #000000;
    width: 6%;
    margin-top: 10px;
    margin-bottom: 10px;
}



.imgProdutos{
    margin-left: 18%;
}

.card{
    margin-top: 20px;
    margin-bottom: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.divCard{
    background-color: #000000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.imgCard{
    width: 70%;
    margin-left: 13%;
}

.card:hover{
    transform: scale(1.1);
    transition: 0.5s
}

.card-body{
    background-color: #fec63e;
}

#card-title{
    color: #000000;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 0px;
}

#card-hr{
    border: 2px solid #000000;
    width: 24%;
    margin-top: 5px;
    margin-bottom: 10px;
    background: #000;
}

.card-text{
    color: #000;
    font-style: italic;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.txtProd{
    text-align: center;
    font-style: italic;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btnProd{
    text-transform: uppercase;
    background-color: transparent;
    color: #fec63e;
    font-weight: bold;
    border: 4px solid #fec63e;
    margin-top: 10px;
}

.btnProd:hover{
    background-color: #fec63e;
    transform: scale(1.1);
    transition: 0.5s;
    color: #000;
}

.portifolio{
    background-color: #000;
    padding: 4% 9% 4% 9%;
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.portifolio h1{
    text-align: center;
    color: #fec63e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
}

.portifolio hr{
    width: 6%;
    border: 2px solid #fec63e;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #fec63e;
}

.img-col-6{
    width: 100%;
    height: 90%;
    margin-top: 3%;
    border-radius: 10px;
}

.img-col-6:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

.img-col-12{
    object-fit: cover;
    object-position: bottom;
    height: 370px;
    width: 100%;
    background-position:bottom;
    background-size: cover;
    border-radius: 10px;
    margin-top: 1%;
}

.img-col-12:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

.txtPort{
    text-align: center;
    font-style: italic;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    margin-top: 5%;
}

.qualidade{
    background-color: #fff;
    padding: 4% 9% 4% 9%;
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.qualidade h1{
    text-align: center;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
}

.qualidade hr{
    width: 6%;
    border: 2px solid #000;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #000;
}

.img-Qualidade{
    margin-top: 2%;
}

.img-Qualidade::before{
    border-left:2px solid #000
}

.qualidade ul{
    list-style: none;
    padding: 0px;
    margin: 0;
}

.qualidade li{
    margin-top: 15px;
}

.menuQualidade{
    display: flex;
    justify-content: space-between;
    margin-top: 3% !important;
}

.menuQualidade h1{
    text-align: center;
    color: black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.menuQualidade hr{
    width: 16%;
}

.menuQualidade p{
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    text-align: center;
    max-width: 70%;
    margin-left: 15%;
}

.prefooter{
    padding: 10px 0px 0px 0px;
    width: auto;
}

.txtfooter{
    position: absolute;
    text-align: center;
    flex-direction: column;
    color: #fff;
    margin-top: 4%;
    padding-left: 4%;
}


.img-footer{
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
}


.footerhr{
    border: 2px solid #fff;
    width: 6%;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #fff;
}

.footer{
    padding: 1.5% 9% 1.5% 9%;
    background: #000;;
}

.footer h1{
    text-align: left;
    font-size: 18px;
    text-transform: uppercase;
    color: #fec63e;
}

.footer hr{
    background: #fec63e;
    border: 2px solid #fec63e;
    margin-right: calc(100% - 10%);
}

.footer p{
    color: #fff;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 70%;
}

.footer ul{
    margin:-5px 0px 0px 0px;
    padding-left: 15px;
}

.footer li{
    color: #fff;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

#footerhr{
    border: 2px solid #fec63e;
    margin-right: calc(100% - 15%) !important;
    background: #fec63e;
}

.iconeFooter{
    border: 4px solid #fec63e;
    padding: 10px;
    margin: 2px;
    width: 23%;

}

.iconeFooter:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.final{
    background: #fec63e;
    padding: 0.5% 9% 0.5% 9%;
}

.final h1{
    color: #fff;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}


@media only screen and (max-width: 890px){
    
    .header{
        padding :  9px 5%;
    }
    
    .list-menu li{
        padding: 0px 4px;
        display: none;
    }
    
    .btnMenu{
        display: flex;
        margin-top: 14px;
    }
    
    .list-menu ul{
        flex-direction: column;
    }
    
    .imgMenu{
        height: 43vh;
    }
    
    .TxtImg{
        margin-top: 5%;
    }
    
    .TxtImg h1 {
        font-size: 30px;
    }
    
    .TxtImg hr , .produtos hr{
        width: 15%;
    }
    
    ul#list-menu  {
        display: flex;
        margin-top: 10px;
    }
    
    .img-col-12{
        height: 250px;
    }
    
    .portifolio hr{
        width: 15%;
    }
    
    .qualidade hr{
        width: 15%;
    }
    
    .menuQualidade hr{
        width: 35%;
    }
    
    .img-footer{
        height: 25vh;
    }
    
    .footerhr{
        width: 15%;
    }

    .footer hr{
        width: 15%;
    }
    
    .iconeFooter{
        width: 15%;
    }
    .txtfooter{
        padding-left: 12%;
    }

}



@media only screen and (max-width: 640px){
    .menuQualidade{
        display: block;
    }
    
    .menuQualidade hr{
        width: 15%;
        word-break: break-all;
    }
}

@media only screen and (max-width: 500px){
    .TxtImg{
        margin-top: 7%;
    }
    
    
}
