body{
    background-color:#fff;
}


#header{
    background-color: #fec63e;
    display: flex;
    padding: 9px 10%;
    position: initial;
}

.imgNav{
    width: 80px;
}

.imgBtn{
    width: 30px;
    height: 30px;
}

.imgBtn:hover{
    transform: scale(1.1);
    transition: 0.5s
}

#list-menu a {
    color: #000000;
    
}

ul#list-menu  {
    display: flex;
}

#list-menu li{
    display:inline-block;
    font-size: 14px;
    font-weight: bold;
    padding: 0px 10px ;
    text-transform: uppercase;
    flex-direction: column;
}

#list-menu li:hover{
    transform: scale(1.1);
    transition: 0.5s
}

.div-list{
    width: 100%;
}

.qualidade{
    background-color: #fff;
    padding: 4% 9% 4% 9%;
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.qualidade h1{
    text-align: center;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
}

.qualidade hr{
    width: 6%;
    border: 2px solid #000;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #000;
}

.qualidade p{
    color: #000;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.qualidade a{
    text-decoration: none;
    color: #fec63e
}

.qualidade a:hover{
    color: #000;
}

.img-Qualidade{
    margin-top: 2%;
}

.img-Qualidade::before{
    border-left:2px solid #000
}

.qualidade ul{
    list-style: none;
    padding: 0px;
    margin: 0;
}

.qualidade li{
    margin-top: 15px;
}

.menuQualidade{
    display: flex;
    justify-content: space-between;
    margin-top: 3% !important;
}

.menuQualidade h1{
    text-align: center;
    color: black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.menuQualidade hr{
    width: 16%;
}

.menuQualidade p{
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    text-align: center;
    max-width: 70%;
    margin-left: 15%;
}

.prefooter{
    padding: 0px 0px 0px 0px;
    width: auto;
}

.txtfooter{
    position: absolute;
    text-align: center;
    flex-direction: column;
    color: #fff;
    margin-top: 4%;
    padding-left: 4%;
}


.img-footer{
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
}


.footerhr{
    border: 2px solid #fff;
    width: 6%;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #fff;
}

.footer{
    padding: 1.5% 9% 1.5% 9%;
    background: #000;;
}

.footer h1{
    text-align: left;
    font-size: 18px;
    text-transform: uppercase;
    color: #fec63e;
}

.footer hr{
    background: #fec63e;
    border: 2px solid #fec63e;
    margin-right: calc(100% - 10%);
}

.footer p{
    color: #fff;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 70%;
}

.footer ul{
    margin:-5px 0px 0px 0px;
    padding-left: 15px;
}

.footer li{
    color: #fff;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

#footerhr{
    border: 2px solid #fec63e;
    margin-right: calc(100% - 15%) !important;
    background: #fec63e;
}

.iconeFooter{
    border: 4px solid #fec63e;
    padding: 10px;
    margin: 2px;
    width: 23%;
    
}

.iconeFooter:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.final{
    background: #fec63e;
    padding: 0.5% 9% 0.5% 9%;
}

.final h1{
    color: #fff;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.orcDados{
    margin-top: 2%;
}

.orcamento{
    background: #000;
    padding: 4% 9%;
}

.orcamento span{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fec63e;
    font-weight: bold;
    text-transform: uppercase;
}

.orcamento p{
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.monteBike{
    padding: 0px;
    margin-top: 7%;
}

.monteBike  p{
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.monteBike ul{
    list-style: none;
    list-style-type: "- ";
    padding: 0;
    padding-left: 10px;
    margin: 0;
    
}

.monteBike li{
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background:#707070;
    width: 60%;
    padding: 3px;
}


.monteBike li:nth-child(even) {
    background-color: #000;
}

.orcForm{
    padding-left: 0px;
}

.label-float{
    position: relative;
    padding-top: 15px;
}

#nome{
    margin-top: 11px;
}

.label-float input{
    border:  3px solid #fec63e;
    background:#000;
    outline: none;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.2s;
    -webkit-appearance:none;
    border-radius: 0;
    width: 90%;
    height: 40px;
    font-weight: bold;
    color:#fec63e;
    padding-left: 10px;
    margin-bottom: 2%;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-appearance:none;
}

.label-float input:focus{
    border: none;
    transition: 0.5s;
    border-bottom: 2px solid #fec63e;
    color:#fec63e;
    padding-left: 0px;
    margin-bottom: 3%;
}

.label-float input::placeholder{
    color: transparent;
}

.label-float label{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 23px;
    margin-left: 15px;
    color: #fec63e;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.5s;
}



.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label{
    font-size: 16px;
    margin-top: 0;
    color: #fec63e;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: -10px;
    margin-left: 0px;
    transition: 0.5s;
}

.cxMsg{
    width: 90%;
    border:  3px solid #fec63e;
    background:#000;
    outline: none;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.2s;
    -webkit-appearance:none;
    border-radius: 0;
    width: 90%;
    height: 140px;
    font-weight: bold;
    color:#fec63e;
    padding-left: 10px;
    margin-bottom: 2%;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-appearance:none;
}


@media only screen and (max-width: 890px){
    .portifolio hr{
        width: 15%;
    }
    
    .qualidade hr{
        width: 15%;
    }
    
    .menuQualidade hr{
        width: 35%;
    }
    
    .img-footer{
        height: 25vh;
    }
    
    .footerhr{
        width: 15%;
    }
    
    .footer hr{
        width: 15%;
    }
    
    .iconeFooter{
        width: 15%;
    }
    .txtfooter{
        padding-left: 12%;
    }
    
    .menuQualidade{
        display: block;
    }
    
    .menuQualidade hr{
        width: 15%;
        word-break: break-all;
    }
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fec63e;
    border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #313131;
}