.subSobre{
    padding: 0px
}

.imgSobre{
    object-fit: cover;
    object-position: bottom;
    height: 200px;
    width: 100%;
    background-position:bottom;
    background-size: cover;
}

.txtSobre{
    position: absolute;
    text-align: center;
    flex-direction: column;
    color: #fff;
    margin-top: 4.5%;
}

.txtSobre h1{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: bold;
    text-transform: uppercase;
}

.txtSobre hr{
    width: 6%;
    border: 2px solid #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}

.txtSobre p{
    color: #fff;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.missao{
    padding: 4% 9% 4% 9%;
}

.missao h1{
    color: #000000;
    text-transform: uppercase;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.missao hr{
    border: 2px solid #000000;
    margin-right: calc(100% - 9%);
    margin-top: 10px;
    margin-bottom: 10px;
    
}



.missao p{
    color: #000000;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
    
}

.valores{
    padding: 0px;
}

.valores hr{
    border: 2px solid #000000;
    margin-right: calc(100% - 22%);
    margin-top: 10px;
    margin-bottom: 10px;
}

.valores ul{
    list-style-type: square;
    margin:0px;
    padding: 0px;
    padding-left: 20px;
}

.valores li{
    color: #000000;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
}

.img-12{
    padding: 0px;
}

.imgMissao{
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    object-fit: cover;
    object-position: center;
}

@media only screen and (max-width: 890px){
    .txtSobre{
        margin-top: 8.5%;
    }
    
    .txtSobre hr{
        width: 15%;
        
    }

    .historia{
        padding: 0px;
        margin-bottom: 20px;
    }

    .valores{
        margin-bottom: 20px;
    }

    
}

@media only screen and (max-width: 770px){
    .valores hr{
        margin-right: calc(100% - 15%);
    }
    .missao hr{
        margin-right: calc(100% - 15%);
    }
}

@media only screen and (max-width: 500px){
    .txtSobre{
        margin-top: 10.5%;
    }
    
    .txtSobre hr{
        width: 15%;
        
    }
}